* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--text1: aliceblue;
	--main: rgb(255, 0, 106);
	--dark: rgb(39, 39, 39);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li,
a {
	list-style: none;
	text-decoration: none;
}
